.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);

  p {
    padding-bottom: 8px;
    border-bottom: 1px solid #CCC;
  }
}

.buttons {
  display: flex;
  margin-left: auto;
  gap: 8px;
}